
/* header */

.header-title{
    display: flex;
    justify-content: center;
    font-family: "Calisto MT";
    font-size: 50px;
    margin: 20px;
}

/* main  cells */

.cells {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.cell {
    width: 6%;
    height: 6%;
}
  
.cell button {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    border: 1px solid white;
}


.cell button:hover {
    cursor: pointer;
    background-color: lightslategray;
}