/* header */

* {
    font-family: "Calisto MT";
}

.header-title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 20px;
}

.menu-button {
    border: black 2px solid;
    background: none;
    width: 3rem;
    height: 3rem;
}

.diff-selector {
    font-size: 2rem;
}


/* aside */

.aside {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.aside-item {
    width: 100%;
    margin: 1rem 0;
}


/* main  cells */

.cells {
    width: 85vh;
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.cells div {
    background-color: lightgrey;
    font-size: 1em;
}

.cells div button {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.cells div button:hover {
    cursor: pointer;
    border: 3px solid black;
}

.mines-around-0 {
    background-color: lightslategrey;
}

.mines-around-1 {
    background-color: #fafaac;
}

.mines-around-2 {
    background-color: #fad38c;
}

.mines-around-3 {
    background-color: #fa8c8c;
}

.mines-around-4 {
    background-color: #fa4646;
}

.mines-around-5 {
    background-color: #fa4646;
}

.mines-around-6 {
    background-color: #fa4646;
}

.mines-around-7 {
    background-color: #fa4646;
}

.mines-around-8 {
    background-color: #fa4646;
}

.mines-around-9 {
    background-color: #fa4646;
}

.mine {
    background-color: #ff0000;
}

.mine::before {
    content: '';
}

.mine-exploded {
    background-color: black;
}

.flag {
    background-color: lightsteelblue;
}


/* footer */

.flag-count {
    font-weight: 600;
    text-align: center;
    border: black 1px solid;
    margin: 1rem 0;
    padding: 0.3rem;
    border-radius: 5px;
}

.flag-limit {
    animation: animate_pulse 1.5s alternate;
    background-color: rgba(228, 25, 49, 0.4);
    border: #fa4646;
}

@keyframes animate_pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(228, 25, 49, 0.4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(228, 25, 49, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
    }
}


/* media */

@media (max-width: 991px) {
    .cells {
        width: 50vw;
        height: 50vw;
    }
}

@media (max-width: 767px) {
    .cells {
        width: 100vw;
        height: 100vw;
        margin-bottom: 1rem;
    }
    .left-game-menu {
        display: none;
    }
}

@media (min-width: 767px) {
    .menu-button {
        display: none;
    }
}

@media (max-width: 575px) {
    .cells {
        width: 100vw;
        height: 100vw;
    }
}